.header {
  height: 60px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  transition: all .3s linear 0s;
  position: fixed;
  width: 100%
}

.headerTitle {
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.headerSubTitle {
  font-size: 15px;
  color: white
}

.brandsTitle {
  font-size: 25px;
  padding-bottom: 5px;
  width: max-content;
  font-weight: 500;
  @media (max-width: 900px) {
    font-size: 20px;
  }
}

.brandsImagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 20px;
  column-gap: 20px;
  padding: 30px;


  @media (max-width: 1500px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (max-width: 1200px) {
    grid-template-columns: 1fr 1fr;
  }

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.imageContainer {
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  &:hover{background-color: #efefef
  }
}

.buttonContainer {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button1 {
  top: 0px;
  left: 200px;
  border: 0;
  background-color: #ffffff;
  @media (min-width: 900px) {
    position: absolute;
  }
}
