.title {
  color: #444444;
  font-size: 18px;
  font-weight: 400;
}

.percentageLabel {
  background-color: var(--primary-color);
  border: 1px solid rgba(0, 0, 0, .06);
  border-radius: 2px;
  color: #fff;
  display: inline-block;
  font-size: 10px;
  font-weight: 700;
  line-height: 14px;
  padding: 0 5px;
  text-align: center;
  text-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  text-transform: none;
  vertical-align: middle;
}

.range {
  height: 12px;
  margin: 15px 0;
  border-radius: 6px;
  background: #f7f7f7;
  position: relative;
  box-shadow: inset 0 0 0 1px rgb(0 0 0 / 6%);
}

.rangeTrack {
  background-color: var(--primary-color);
  position: absolute;
  height: 100%;
  border-radius: 6px;
  top: 0;
  left: 0;
}
