.header {
  height: 60px;
  background-color: var(--primary-color);
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%
}

.headerTitle {
  font-size: 20px;
  color: white;
  font-weight: 600;
}

.headerSubTitle {
  font-size: 15px;
  color: white
}

.brandsTitle {
  font-size: 25px;
  border-bottom: 2px solid #f74e37;
  padding-bottom: 20px;
  width: max-content;
  font-weight: 500;
}

.mainContainer {
  padding: 30px 100px;
  display: flex;
  row-gap: 20px;
  column-gap: 20px;
  justify-content: center;

  @media (max-width: 1200px) {
    flex-direction: column;
    align-items: center;
    padding: 30px 20px;
  }
}

.link {
  color: var(--primary-color);
  cursor: pointer;
}

.text {
  margin: 20px 0;
  line-height: 25px;
}