.preHeader {
  background-color: var(--primary-color);
  height: 30px;
  display: flex;
  column-gap: 40px;
  align-items: center;
  padding: 0 200px;
  position: fixed;
  z-index: 5;
  width: 100%;
  transition: all 0.3s linear 0s;

  @media (max-width: 900px) {
    display: flex;
    padding: 0;
    column-gap: 10px;
    justify-content: center;
  }

  p {
    color: white;
    font-size: 14px;
  }
}

.header {
  padding: 10px 0 10px 0;
  background-color: white;
  box-shadow: 0 4px 2px -2px #c2c2c2;
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: fixed;
  width: 100%;
  transition: all 0.3s linear 0s;
  z-index: 4;
}

.headerOffset {
  height: 180px;
}

.headerTitle {
  font-size: 25px;
  color: var(--primary-color);
}

.changeLanguageContainer {
  position: absolute;
  right: 40px;
  top: 50%;
  transform: translateY(-50%);
  height: 50px;
}

.navigation {
  display: flex;
  align-items: center;
  column-gap: 30px;
  list-style-type: none;
  & > li {
    display: flex;
    align-items: center;
    height: 50px;
    cursor: pointer;
  }

  @media (max-width: 900px) {
    display: none;
  }
}

.mobileNavigation {
  display: none;
  @media (max-width: 900px) {
    display: block;
  }
}

.menu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style-type: none;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  & > li {
    transition: 0.5s;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    &:hover {
      padding-left: 10px;
      color: var(--primary-color);
    }
  }
  & > li:not(:last-child) {
    border-bottom: 1px solid rgba(201, 201, 201, 0.5);
  }
}

.footer {
  height: 400px;
  background-color: rgba(67, 64, 70, 0.05);
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  @media (max-width: 900px) {
    flex-direction: column;
  }
}

.footerInfo {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.contactsFooterList {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  list-style-type: none;
  padding-left: 10px;
}

.divider {
  background-color: var(--primary-color);
  height: 5px;
  border: none;
}

.rightFooterContainer {
  height: 70px;
  border-top: 1px solid rgba(255, 255, 255, 0.5);
  background-color: rgba(67, 64, 70, 0.05);
  display: flex;
  justify-content: center;
  align-items: center;
}

.languageDropdownListItem {
  display: flex;
  align-items: center;
  gap: 10px;
}
