.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100vh;
  padding: 0 2rem;
}

.presentationBlock {
  display: flex;
  height: 800px;
  align-items: center;
  justify-items: center;



  @media (max-width: 900px) {
    flex-direction: column;
    margin: 100px 0
  }
}

.presentationBlockTitle {

  @media (max-width: 900px) {
    :first-child {
      font-size: 30px !important;
    }

    :last-child {
      font-size: 25px !important;
    }
  }

  @media (min-width: 900px) {
    width: 700px;
  }
}

.slogan {
  color: #c23d2b;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 5px 0;
}

.descriptionBlock {
  width: 100vw;
  display: flex;
  align-items: center;
  flex-direction: column;
  row-gap: 20px;
  padding: 100px 0;
  position: relative;
  z-index:1;
  overflow:hidden;

  @media (max-width: 900px) {
    padding: 50px 0;
  }
}

.descriptionBlock:before{
  z-index:-1;
  position:absolute;
  left:0;
  top:0;
  width: 100%;
  height: 100%;
  content: "";
  background-image: url("../public/images/ikra_2.jpg");
  opacity:0.4;
}

.descriptionCompanyName {
  font-size: 30px;
  border-bottom: 2px solid #f74e37;
  padding-bottom: 20px;
  width: max-content;
  font-weight: 700;
  color: black
}

.titleText {
  font-size: 25px;
  border-bottom: 2px solid #f74e37;
  padding-bottom: 20px;
  width: max-content;
  font-weight: 500;
}


.cardItemsBlock {
  border: 1px solid black;
  border-radius: 10px;
  width: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.cardIcon {
  color: var(--primary-color)
}

.cardItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  padding: 30px;
}

.cardTitle {
  color: black;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.1rem;

  @media (max-width: 900px) {
    text-align: center;
  }
}

.cardDescription {
  color: black;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 5px 0;
  text-align: center
}

.advantagesBlock {
  margin: 50px 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 20px;
  align-items: center;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;

    img {
      margin: auto;
    }
  }
}

.advantagesDescription {
  background-color: #f5f5f5;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (min-height: 900px) {
    height: 700px;
    width: 600px;
  }
}

.advantagesItems {
  display: grid;
  row-gap: 15px;
  column-gap: 15px;
  padding: 15px;
  grid-template-columns: 1fr 1fr;
  margin: 10px 0;

  @media (max-width: 900px) {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.advantagesItemTitleContainer {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.advantagesItemTitle {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 600;
}

.advantagesItemDescription {
  line-height: 25px;
  margin: 10px 0;
  font-size: 15px;
}

.swiperBrandsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 30px 0
}

.clientsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f5f5;
  padding: 40px;
}

.clientsImagesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin: 20px 0;

  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.primaryProducts {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px;
  width: 100%
}

.clientsProductsContainer {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  margin: 20px 0;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.anotherImagesContainer {
  display: flex;
  column-gap: 20px;
  height: 300px;

  @media (max-width: 1200px) {
    flex-direction: column;
    row-gap: 20px;
    height: 400px;
  }
}