.specializationContainer {
  background-color: #f7f7f7;
}

.specializationTitle {
  display: block;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 15px;

  &:after {
    content: "";
    background: var(--primary-color);
    display: block;
    position: relative;
    width: 50px;
    height: 3px;
    z-index: 1;
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 5px;
  }
}

.specializationSection {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 15px 50px 30px 50px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.container {
  padding: 50px 0 50px 0;
}

.hundredPercentProfessionalism {
  font-size: 100px;
  line-height: 90px;
  color: rgba(68, 68, 68, 0.2);
  margin-bottom: 15px;
}

.professionalismLabel {
  color: var(--primary-color);
  margin-bottom: 15px;
  font-size: 24px;
}

.professionalismSection {
  text-align: center;
}

.contactButton {
  display: inline-block;
  font-size: 18px;
  padding: 18px 20px;
  color: #fff;
  background: var(--primary-color);
  border-radius: 5px;
}

.aboutUsContainer {
  padding: 50px 50px 25px 50px;
}

.aboutUsSection {
  display: grid;
  grid-template-columns: 1fr 1fr;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.aboutUsParagraph {
  margin-bottom: 10px;
  font-size: 14px;
  color: #333;
  line-height: 24px;
}

.aboutUsImageContainer {
  text-align: center;
  @media (max-width: 900px) {
    margin-top: 50px;
  }

  & > img {
    max-width: 100%;
    height: auto;
  }
}

.aboutUsTitle {
  color: #444444;
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 15px;
}

.reliableClientsContainer {
  padding-top: 50px;
}

.reliableClientsTitle {
  @extend .specializationTitle;
}

.reliableClientsSection {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.reliableClientsSectionItem {
  border-right: 1px solid #ddd;
  @media (max-width: 900px) {
    border-right: 0;
  }

  &:nth-child(3n + 3) {
    border-right: 0;
  }

  display: flex;
  justify-content: center;
}
