.container {
  padding-bottom: 50px;
}

.max1200Container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.contactFormContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.gridContainer {
  padding-top: 50px;
  padding-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 50px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
  }
}

.errorFont {
  color: red;
  font-size: 12px;
}

.fullWidth {
  width: 100%;
}

.sectionTitle {
  margin-bottom: 20px;
  font-weight: 400;
  color: #444444;
  font-size: 24px;
}

.sendButton {
  cursor: pointer;
  color: #fff;
  background-color: var(--primary-color);
  padding: 6px 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42858;
  border: 1px solid transparent;
  border-radius: 4px;
}

.underLinedSectionTitle {
  display: block;
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 10px;

  &:after {
    content: "";
    background: var(--primary-color);
    display: block;
    position: relative;
    width: 50px;
    height: 3px;
    z-index: 1;
    margin-top: 20px;
    border-radius: 5px;
  }
}

.companyName {
  line-height: 18px;
  font-weight: 400;
  font-style: normal;
  color: #444444;
  font-size: 18px;
}

.address {
  line-height: 24px;
  font-weight: 400;
  font-style: normal;
  color: #333;
  font-size: 14px;
}

.listItem {
  display: flex;
  gap: 30px;
  align-items: center;
  margin-top: 20px;
}

.wazeImage {
  display: inline-block;
  margin-right: 10px;
}
