.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  perspective: 1000px;

}

.flipCardInner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  border-radius: 20px;

  @media (max-width: 900px) {
    height: 250px;
  }
}

.flipCard:hover .flipCardInner {
  transform: rotateY(180deg);
}

.flipCardFront, .flipCardBack {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  object-fit: cover;
}

.flipCardFront {
  border-radius: 10px;
  color: black;
}

.flipCardBack {
  background-color: white;
  color: black;
  transform: rotateY(180deg);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  row-gap: 10px;
}

.backTitle {
  color: #f74e37;
  font-size: 25px;
}

.link {
  color: var(--primary-color);
  font-size: 15px;
  font-weight: 600;
  cursor: pointer;
}