.menu {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  list-style-type: none;
  width: 300px;
  background-color: white;
  border-radius: 10px;
  padding: 30px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  & > li {
    transition: 0.5s;
    cursor: pointer;
    height: 50px;
    display: flex;
    align-items: center;
    padding: 10px;
    font-size: 15px;
    &:hover {
      padding-left: 10px;
      color: var(--primary-color);
    }
  }
  & > li:not(:last-child) {
    border-bottom: 1px solid rgba(201, 201, 201, 0.5);
  }
}