.container {
  padding-bottom: 50px;
}

.max1200Container {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}

.section1 {
  padding: 50px 15px 50px 15px;
  background-color: #f7f7f7;
}

.section1GridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 30px;
  @media (max-width: 900px) {
    grid-template-columns: 1fr;
    gap: 15px;
  }
}

.section1GridContainerItem {
  display: flex;
  gap: 15px;
}

.section1GridContainerItemIconContainer {
  color: #fff;
  min-width: 90px;
  height: 90px;
  cursor: pointer;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--primary-color);

  &:hover {
    background-color: var(--secondary-color);
  }
}

.section1GridContainerItemIcon {
  width: 60px;
  height: 60px;
}

.section1GridContainerItemTitle {
  font-weight: 400;
  color: #444444;
  font-size: 18px;
  margin: 10px 0;
}

.section1GridContainerItemText {
  color: #333;
  font-size: 14px;
}

.sectionTitle {
  display: block;
  font-size: 24px;
  font-weight: 400;
  padding-top: 50px;
  padding-bottom: 10px;

  &:after {
    content: "";
    background: var(--primary-color);
    display: block;
    position: relative;
    width: 50px;
    height: 3px;
    z-index: 1;
    margin-top: 20px;
    border-radius: 5px;
  }
}

.sectionText {
  line-height: 24px;
  color: #333;
  font-size: 14px;
}

.pieChartContainer {
  margin: 0 auto;
  padding-top: 50px;
  width: 500px;
  max-width: 100%;
}

.lineChartContainer {
  margin: 0 auto;
  padding-top: 50px;
  width: 700px;
  max-width: 100%;
}
